<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rafiki Connect - Home Feed</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <div class="top-bar">
        <span class="logo">Rafiki Connect</span>
        <span class="material-icons messages">message</span>
    </div>

    <div class="container">
        <h2>Your Feed</h2>
        <!-- Posts will be here -->
    </div>

    <div class="navbar">
        <a href="/" class="material-icons">home</a>
        <a href="/search" class="material-icons">search</a>
        <a href="/local-connections" class="material-icons">location_on</a>
        <a href="/favorites" class="material-icons">favorite</a>
        <a href="/profile" class="material-icons">person</a>
        <a href="/new-post" class="material-icons" id="create-post">add_circle</a>
    </div>
    
    <script src="/static/js/post.js"></script>
</body>
</html>
